.cf {
  zoom: 1;
  &:after,
  &:before {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clear-defaults {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  cursor: auto;
}

.list {
  list-style: none;
}

.avatar {
  max-width: 190px;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 0;
  line-height: 0;
}

.header {
  padding: 20px 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  &__separator {
    font-size: 30px;
  }
  &__list {
    display: block;
    list-style: none;
    text-align: center;
  }

  &__item {
    display: inline-block;
    margin: 0 20px;
    &_login {
      float: right;
    }
  }

  &__link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    line-height: 1;
    font-size: 16px;
    outline: none;
    &_logout {
      display: inline-block;
      text-transform: lowercase;
      font-size: 12px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.user-cabinet {
  font-size: 16px;
  line-height: 1;
}

.footer {
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid #000;
  &__link {
    line-height: 1;
    font-size: 16px;
  }
}

.content {
  padding: 20px 50px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  font-size: 16px;
  line-height: 1;
}

.groups {
  &__item {
    font-size: 16px;
    line-height: 1;
  }
}

.group,
.event-create,
.group-create,
.event-page {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__menu {
    overflow-y: scroll;
    padding-left: 20px;
  }
  &__menu-header {
    font-size: 20px;
    text-align: right;
    margin-right: 15px;
  }
}

.form {
  &__input {

  }
  &__label {

  }
  &__textarea {

  }
}